{{#each roomDetails}}
    <a href="/projects/{{projectId}}/rooms/{{_id}}">
        <div class="roomCart">
            <div class="roomName">
                {{roomName}}
            </div>

            <div class="roomCartPhotoSection">
                <div class="roomCartPhoto">
                    {{roomInitialPictures[0]}}
                </div>

                <img class="photoArrow" src="/images/roomCartPhotoArrow.svg" alt="photoArrow">

                <div class="roomCartPhoto">
                    {{threeDRendering}}

                </div>
                
            </div>

            {{ >room-description }}

            <a class="roomLink" href="">More details <img src="/public/images/moreDetailsArrow.svg" alt=""></a>

            
        </div>
    
    </a>
{{/each}}