<table class="taskTable">
    <tr>
        <th>Procedure</th>
        <th>Material</th>
        <th>Position</th>
        <th>Remarks</th>
        <th>Done?</th>
    </tr>

    <tr>
        <td>{{procedure}}</td>
        <td>{{materials}}</td>
        <td>{{Position}}</td>
        <td>{{Remarks}}</td>
        <td>{{Done}}</td>
    </tr>
</table>