<div class="navbar"> 
    <!--Icone en haut à gauche pour barre de navigation-->
    <img src="#" alt="navicon"/> 
    <h2>Renov'Master</h2>
    <!--Icone de profil, il faudra mettre un {{}} pour que ça renvoi à l'image de profile stocké dans la BDD-->
    <a href="/profile"><img src="#"/></a>
</div>

<!--panneau de navigation. Changer le paramètre visible/hidden via le JS-->
<div class="navmenu hidden">
    
</div>

<img src="#" alt="profilePic"/>

<h3>Full name:</h3>
    <p class ="vignette">{{fullName}}</p>
<h3>Company name:</h3>
    <p class ="vignette">{{companyName}}</p>  
<h3>Company registration number : </h3>
    <p class ="vignette">{{companyRegistratioNb}}</p>  
<h3>Company address:    </h3>
    <p class ="vignette">{{companyAddress}}</p>  
<h3>Company post code : </h3>
    <p class ="vignette">{{companyPostCode}}</p>  
<h3>Phone number :</h3>
    <p class ="vignette">{{phone}}</p>  
<h3>Email :</h3>
    <p class ="vignette">{{email}}</p>  
<h3>Password :</h3>
    <p class ="vignette">*********</p>  


<a href="#">Edit Profile</a>
<a href="#">Delete Account</a>