<h1>Project details page</h1>

<ul> 
    <h2>{{projectDetails.firstName}} {{projectDetails.lastName}}</h2>
    <li>{{projectDetails.address}}</li>
    <li>{{projectDetails.phoneNb}}</li>
    <li>{{projectDetails.projectDescription}}</li>
    <li>{{projectDetails.firstMeetingDate}}</li>
    <li>Rooms</li>
        {{#each roomDetails}}
        <a href="/projects/{{projectId}}/rooms/{{_id}}">{{roomName}}</a>
        {{/each}}
    <li> 
    <form action="/projects/{{_id}}/rooms" method="post"> 
      <label class="formLabel">
        <input class="formInput" type="text" name="roomName" />
      </label>
      <button class="formBtn" type="submit">Create Room</button>
      <p>{{#if errorMessage}}
          {{errorMessage}}
        {{/if}}</p>
    </form>

    </li>
</ul>