{{>nav}}

{{!-- <h1>Project details page</h1> --}}

<div id="projectDetails">
  <div id="clientInfo">
   <div id="clientName">{{projectDetails.firstName}} {{projectDetails.lastName}}</div>
   <div id="clientContact">
    {{projectDetails.address}}
    {{projectDetails.phoneNb}}
    </div>
  </div>

  <div id="projectDeadline" class="dateContainer">
    <span id="projectDeadlineLabel" class="smallTitle">Project deadline:  </span><span id="projectDeadlineDate">{{projectDetails.projectDeadlineFormatted}}</span>
    
  </div>

  <div id="editDeleteProject">
    <div id="editProject" class="editDeleteBtn">
      <img class="editIcon" src="../images/edit.svg" alt="editIcon">
      <a class="editLink" href="#">Edit / Delete project</a>
    </div>

  </div>

  <p id="statusBarTitle">Select work status:</p>
  <div class="statusBarContainer">
    
    <div class="statusBar">
      <div class="statusBarLine">

      </div>
      <div class="statusIcon" onclick="iconClick(this)">
        <img class="iconLine" src="../images/meetingIconLine.svg" alt="meetingIcon">
        
      </div>

      <div class="statusIcon" onclick="iconClick(this)">
        <img class="iconLine" src="../images/designIconLine.svg" alt="designIcon">
        
      </div>

      <div class="statusIcon" onclick="iconClick(this)">
        <img class="iconLine" src="../images/materialIconLine.svg" alt="designIcon">
        
      </div>

      <div class="statusIcon" onclick="iconClick(this)">
        <img class="iconLine" src="../images/workinprogressIconLine.svg" alt="workinprogressIcon">
        
      </div>

      <div class="statusIcon" onclick="iconClick(this)">
        <img class="iconLine" src="../images/finishedIconLine.svg" alt="finishedIcon">
        
      </div>

    </div>

    <div class="statusInfo">
      <span class="status">Meeting</span>
      <span class="status">Design</span>
      <span class="status">Material</span>
      <span class="status">Work in progress</span>
      <span class="status">Finished</span>

    </div>
      

  </div>


  <div id="nextMeeting" class="section">
    <h2 class="sectionHead">Next meeting</h2>
    <div  class="sectionContainer">
      <div id="nextMeetingDetails">
        <p>{{projectDetails.firstMeetingAddress}}</p>
        <p>{{projectDetails.firstMeetingDateFormatted}}</p>
        <img class="deleteGrayIcon" src="/images/deleteGray.svg" alt="delete">

      </div>
      

    </div>
  </div>

  <div id="addeditMeeting">
    <div id="addMeeting">
    <div id="addMeetingBtn" class="editDeleteBtn">
      <img class="editIcon" src="../images/add.svg" alt="addIcon">
      <a class="editLink" href="#">Add meeting</a>
    </div>
  </div>

  <div id="editMeeting">
    <div id="editMeetingBtn" class="editDeleteBtn">
      <img class="editIcon" src="../images/edit.svg" alt="editIcon">
      <a class="editLink" href="#">Edit</a>
    </div>
  </div>

  </div>
  


  <div id="projectDescription" class="section">
    <h2 class="sectionHead">Project description</h2>
    <div id="projectDescriptionDetails" class="sectionContainer">
    <p>{{projectDetails.projectDescription}}</p>
    </div>
  </div>

  <div id="floorplan" class="section">
    <h2 class="sectionHead">Floor plan</h2>
    <div id="floorplanPhotos" class="photoSectionContainer">
        <!-- Mise en page si une image a déjà été uploadée --> 
        {{#if projectDetails.floorPlan}}            
            <img src="{{projectDetails.floorPlan}}" alt="FloorPlan"/>
        {{else}}
        <form action="/projects/{{projectDetails._id}}/photos" method="post" enctype="multipart/form-data" class="floorPlanForm"> 
            <label> <img class="addPhotoIcon" src="../images/addPhoto.svg" alt="addPhoto">
                <input type="file" name="floorPlan" class="floorPlanWindow"/>
            </label>
            
            <p>{{#if errorMessage}}
                {{errorMessage}}
                {{/if}}</p>
        </form>
        {{/if}} 
    </div>
  </div>

<!-- Link to modify the picture once a picture has been uploaded --> 
<form action="/projects/{{projectDetails._id}}/photos/update" method="post" enctype="multipart/form-data" class="floorPlanForm"> 
    <label>
        <div id="editDeleteProject">
            <div id="editProject" class="editDeleteBtn">
                <img class="editIcon" src="../images/edit.svg" alt="editIcon">
                <input type="file" name="floorPlan" class="floorPlanWindow" style : "none"/>  
            </div>
        </div>
    </label>
</form>


  

  <h2 class="sectionHead">Rooms</h2>
    {{#each roomDetails}}
    <a href="/projects/{{projectId}}/rooms/{{_id}}">{{>room}}</a>
    {{/each}}
  
  <div id="roomCreation">
    <p class="smallTitle">Type in room name</p>
    <form id="roomCreationForm" action="/projects/{{projectDetails._id}}/rooms" method="post"> 
      <label id="roomCreationLabel" class="formLabel">
        <input id="roomFormInput" class="formInput" type="text" name="roomName" required/>
      </label>
      <button id="roomCreationFormBtn" class="roundGradientBtn" type="submit">Create Room</button>
      <p>{{#if errorMessage}}
          {{errorMessage}}
        {{/if}}</p>
    </form>

  </div>
  

</div>


    
