z<h1>Project details page</h1>

<ul> 
    <h2>{{FirstName}} {{LastName}}</h2>
    <li>{{Address}}</li>
    <li>{{PhoneNb}}</li>
    <li>{{projectDescription}}</li>
    <li>{{firstMeetingDate}}</li>
    <li>Rooms</li>
        {{#each rooms}}
        <a href="#">{{rooms.name}}</a>
        {{/each}}
    <li>
    <form action="/projects/{{_id}}/rooms" method="post"> 
      <label class="formLabel">
        <input class="formInput" type="text" name="roomName" />
      </label>
      <button class="formBtn" type="submit">Create Room</button>
      <p>{{#if errorMessage}}
          {{errorMessage}}
        {{/if}}</p>
    </form>

    </li>
</ul>