{{>nav}}

<div id="roomDetails">
    <div class="roomHeading">
        <div class="projectRoomName">{{roomFromDB.roomName}}</div>
        <a class="backLink" href="/projects/{{roomFromDB.projectId}}"><img class="backLinkIcon" src="/images/backLink.svg" alt="">Back to project</a>
    
    </div>
        
    <h2 class="roomCartDescription">Description</h2>
    <p class="roomCartDescriptionDetails">{{roomFromDB.roomDescription}}</p>
    <form id="roomDescriptionForm" action="" method="post"> 
        <label id="roomDescriptionLabel" class="formLabel">
            <input id="roomDescriptionInput" class="formInput" type="text" name="roomDescription"/>
        </label>

        <div class="roomCartEFDateContainer">
            <label class="roomCartEFDateLabel">Estimated finish date :</label>
                <span class="roomCartEFDate">{{roomFromDB.finishDate}}</span>
                <input id="roomCartEFDateInput" class="formInput" type="text" name="roomCartEFDate"/>
            </label>
        </div>


        <div id="roomDescriptionSaveEdit">
            <div id="editRoomDescription">
            <div id="editRoomDescriptionBtn" class="editDeleteBtn">
                <img class="editIcon" src="/images/edit.svg" alt="editIcon">
                <a class="editLink" href="#">Edit</a>
            </div>
            </div>

            <button id="roomDescriptionFormBtn" class="roundGradientBtn" type="submit">Save</button>
            <p>{{#if errorMessage}}
                {{errorMessage}}
            {{/if}}</p>

        </div>
        
    </form>


    <div class="roomCartProcessBar">
    <div class="roomCartFinishedBar">
    </div>

    <div class="roomCartUnfinishedBar">
    </div>
    </div>

    <div class="roomCartTaskContainer">
        <div class="roomCartTaskCategory">
            
                {{#each roomFromDB.tasks}}
                {{this.type}}
                {{/each}}
            
        </div>

    </div>
    
    

    <div class="section">
        <h2 class="sectionHead">Origin photo</h2>
        <div class="roomPhotoContainer">
            <ul>
                {{#each roomFromDB.roomInitialPictures}}
                <li class="roomPhoto">{{this}}</li>
                {{/each}}
            </div>

             <div class="addRoomPhoto">
                <form action="/projects/{{roomFromDB.projectId}}/rooms/{{roomFromDB._id}}/photos" method="post" enctype="multipart/form-data" class="addRoomImg"> 
                    <label> <img class="addPhotoIcon" src="../images/addPhoto.svg" alt="addPhoto">
                        <input type="file" name="avatar"/>
                        <input type="file" name="roomImg" class="addRoomImgWindow" multiple/>
                    </label>
                    
                    <p>{{#if errorMessage}}
                        {{errorMessage}}
                        {{/if}}</p>
                </form>
            </div>
                
                <li class="roomPhoto"></li>
                <li class="roomPhoto"></li>
                
            </ul>
             
        </div>
    </div>

    <div class="section">
        <h2 class="sectionHead">Current photo</h2>
        <div class="roomPhotoContainer">
            <ul>
                {{#each roomFromDB.roomInitialPictures}}
                <li class="roomPhoto">{{this}}</li>
                {{/each}}
                
                <li class="roomPhoto"></li>
                <li class="roomPhoto"></li>
                
            </ul>
             
        </div>
    </div>

    <div class="section">
        <h2 class="sectionHead">3D rendering</h2>
        <div class="roomPhotoContainer">
            <ul>
                {{#each roomFromDB.roomInitialPictures}}
                <li class="roomPhoto">{{this}}</li>
                {{/each}}
                
                <li class="roomPhoto"></li>
                <li class="roomPhoto"></li>
                
            </ul>
             
        </div>
    </div>

    <div class="section">
        <h2 class="sectionHead">Task details</h2>
        <div id="taskContainer" class="sectionContainer">
            
            <form id="createTask" action="/projects/{{roomFromDB.projectId}}/rooms/{{roomFromDB._id}}/tasks" method="post"> 
                
                <button id="createTaskBtn" class="roundGradientBtn" type="submit">Create Task</button>
                <p>{{#if errorMessage}}
                    {{errorMessage}}
                {{/if}}</p>
            
            </form>
            
        </div>
    </div>

    

</div>

