{{>nav}}

<div id="roomDetails">
    <div class="projectRoomName">{{roomName}}</div>
    
    {{>roomdescription}}
    </div>
    

    <div class="section">
        <h2 class="sectionHead">Origin photo</h2>
        <div class="sectionContainer">
            <div class="roomPhoto">
                {{#each this.roomInitialPictures}}
                    {{roomInitialPictures}}
                {{/each}}
            </div>

             <div class="addRoomPhoto">
                <img class="addPhotoIcon" src="/images/addPhoto.svg" alt="addPhoto">
            </div>
        </div>
    </div>

    <div class="section">
        <h2 class="sectionHead">Current photo</h2>
        <div class="sectionContainer">
            <div class="roomPhoto">
                {{#each this.currentPictures}}
                    {{currentPictures}}
                {{/each}}
            </div>

             <div class="addRoomPhoto">
                <img class="addPhotoIcon" src="/images/addPhoto.svg" alt="addPhoto">
            </div>
        </div>
    </div>

    <div class="section">
        <h2 class="sectionHead">3D rendering</h2>
        <div class="sectionContainer">
            <div class="roomPhoto">
                {{#each this.threeDRendering}}
                    {{threeDRendering}}
                {{/each}}
            </div>

             <div class="addRoomPhoto">
                <img class="addPhotoIcon" src="/images/addPhoto.svg" alt="addPhoto">
            </div>
        </div>
    </div>

    <div class="section">
        <h2 class="sectionHead">Task details</h2>
        <div id="taskContainer" class="sectionContainer">
            
            <form id="createTask" action="/projects/{{projectId}}/rooms/{{_id}}/tasks" method="post"> 
                
                <button id="createTaskBtn" class="roundGradientBtn" type="submit">Create Task</button>
                <p>{{#if errorMessage}}
                    {{errorMessage}}
                {{/if}}</p>
            
            </form>
            
        </div>
    </div>

    

</div>

