{{>nav}}



<div class="display">
  <h1 class="sectionHeadLarge">New Task</h1>

  <div >
    <div id="newProjectContainer">
      <form class="longForm" action="/projects/{{projectId}}/rooms/{{roomId}}/tasks/{{_id}}/edit" method="post">
        <label class="formLabel">Category
          <input class="formInput" type="text" name="category" required />
        </label>
        <label class="formLabel">Procédure
          <input class="formInput" type="text" name="procedure" required />
        </label>
        <label class="formLabel">Position
          <input class="formInput" type="text" name="position" />
        </label>
        <label class="formLabel">Remarks
          <input class="formInput" type="text" name="remarks" />
        </label>
        <label class="formLabel">Material
          <input class="formInput" type="text" name="material" />
        </label>
        <label class="formLabel">Worker
          <input class="formInput" type="text" name="firstMeetingDate" />
        </label>
        <!--  A mettre à jour s'il reste du temps à la fin
        <label class="formLabel">Start After
            <select name="startAfter" multiple>
                {{#each allTasks}}
                    <option value="{{_id}}">{{name}}</option>
                {{/each}}
            </select>
        </label>
        -->
        <label class="formLabel">Start Date
          <input class="formInput" type="date" name="startDate" />
        </label>
        <label class="formLabel">Finish Date
          <input class="formInput" type="date" name="finishDate" />
        </label>
        <button class="roundGradientBtn" type="submit">Save Task</button>
        <p>{{#if errorMessage}}
            {{errorMessage}}
          {{/if}}</p>
      </form>

    </div>

  </div>

</div>